.comment-block-user {
    display: inline; 
    margin-right: 20px;
}

.comment-block-user:hover {
    background-color: #c33a3a !important;
    cursor: pointer;
    display: inline; 
    margin-right: 20px;
}